.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# User-specific stuff:
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/libraries
/.idea/tasks.xml

# Experimental .gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml

# Sensitive or high-churn files:
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/sqlDataSources.xml
/.idea/dynamic.xml
/.idea/uiDesigner.xml

# Gradle:
/.idea/gradle.xml
/.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws
*.iml