.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Android Studio / IntelliJ IDEA
# .gitignore extension from http://stackoverflow.com/questions/16736856/what-should-be-in-my-gitignore-for-an-android-studio-project
*.iws
.idea/libraries
.idea/tasks.xml
.idea/vcs.xml
